body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-cover a{
  position: relative;
}

.profile-cover a:hover:before{
  position: absolute;
    content: "Ganti Cover";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 300px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.profile-cover a img{
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.profile-photo{
	margin-top:-75px;
	text-align: center;
}

.profile-photo a{
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
}

.profile-photo a:hover:before{
	position: absolute;
    content: "Ganti Foto";
    background: rgba(0,0,0,0.5);
    width: 150px;
    height: 150px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.profile-photo a img{
	object-fit: cover;
	width: 150px;
	height: 150px;
}

.list-photos{
  display: flex;
  justify-content: center;
}

.list-photos .photo-item{
  width:75px;
  height: 75px;
}

.list-photos .photo-item img{
  object-fit: cover;
  width: 75px;
  height: 75px;
  opacity: 0.5;
}

.list-photos .photo-item img:hover{
  opacity: 1;
}

.list-photos .photo-item.photoadd{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  background: #444;
}

.list-photos .photo-item.photoadd a{
  color: #fff;
}

.list-photos .photo-item.photoadd a:hover{
  text-decoration: none;
}

.section{
  padding:40px;
  position: relative;
}

.section.loading:before{
    content: "Loading...";
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    display: flex;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 9;
    top: 0;
}

.padding-150px{
  padding:150px;
}

.border-radius-login{
  border-radius: 50px 0 0 50px;
}

.custom-header{
  width: 100%;
  height: 200px;
}

.min50top{
  margin-top:-50px;
}

.border-radius-50{
  border-radius: 50px;
}